<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--login.js의 console.log가 먼저 실행되는 경우를 방지하기 위해 defer를 선언함.-->
    <link rel="stylesheet" href="/css/home/login.css">
    <script src = "/js/home/register.js" defer ></script>
    <title>Document</title>
</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form"> <!--form안에 있는 button은 submit으로 새로운 페이지에 정보를 등록한다.-->
            <input id = "id" type="text" placeholder="ID"/>
            <input id = "name" type="name" placeholder="Name">
            <input id = "email" type = "email" placeholder="E-Mail"/>
            <input id = "pw" type ="password" placeholder="Password"/>
            <input id = "confirm-pw" type ="password" placeholder="Password Check"/>
            <p id = "button">Sign Up</p>
            <p class="message">Already registered? <a href="/login">Login</a></p>
          </form>
        </div>
      </div>
      
      </body>
</body>
</html>